<%= render "categories/sidebar" %>
<div class="form-container">
    <div class="form-content">
        <%= link_to "Back", categories_path %>
        <h1>Add a to do</h1>
        <%= render "tasks/form", category: @category %>        
    </div>

     
</div>
