<%= render "categories/sidebar" %>

<div class="form-container">
    <div class="form-content">
        <h1>New Category</h1>
        <%= render "form", category: @category %>
     
    </div>

     
</div>